.container {
  width: 70%;
  margin: auto;
  text-align: center;
}


button {
  display: block;
  margin: 10px auto; /* Memberikan margin 10px di atas dan di bawah tombol, dan secara otomatis mengatur tombol ke tengah secara horizontal */
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-refresh{
  background-color: rgb(208, 68, 68);
  color: #fff;
  padding: 5px;
}

.btn-main {
  
  padding: 20px;
  background-color: #4ECCA3;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
}

.dice {
  text-align: center;
  display: inline-block;

}



body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
/* Media queries */
@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  h1 {
    font-size: 6rem;
  }

  p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1.2rem;
  }
}
