.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.title {
    font-size: 7rem;
    font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #4ECCA3;
}

.dice {
    display: inline-block;
    text-align: center;
}

body {
    background-color: #393E46;
  }

  p {
        font-family: "Indie Flower", cursive;
        font-weight: 400;
        font-style: normal;
        color: #4ECCA3;
        font-size: 2rem;
  }


  footer {
    margin-top: 5%;
    text-align: center;
    color: #fff;
    font-family: "Indie Flower", cursive;
  }

  img {
    margin: 20px;
  }